extends _layout/layout

//- //- Các giá trị mặc định cho trang web
block variables




//- Phần khai báo body
block body
	.home-slider
		.home-slider-content
			.btn.btn-brand
		.owl-carousel
			.item
				img.w-50(src="./img/home_section_slider_1.png", alt="", srcset="")
			.item
				img.w-50(src="./img/home_section_slider_1.png", alt="", srcset="")
			.item
				img.w-50(src="./img/home_section_slider_1.png", alt="", srcset="")
//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	.container
		.row
			.col-md-4 
				h1 shisdadsas
			.col-md-4 
				h1 shisdadsas
			.col-md-4 
				h1 shisdadsas