extends _layout/layout
block body
	#breadcrumb.section
		// container
		.container
			// row
			.row
				.col-md-12
					ul.breadcrumb-tree
						li
							a(href='#') Home
						li
							a(href='#') All Categories
						li
							a(href='#') Accessories
						li
							a(href='#') Headphones
						li.active Product name goes here
		.section
			.container
				// row
				.row
					// Product main img
					.col-md-5.col-md-push-2
						#product-main-img
							.product-preview
								img(src='./img/product01.png', alt='')
							.product-preview
								img(src='./img/product03.png', alt='')
							.product-preview
								img(src='./img/product06.png', alt='')
							.product-preview
								img(src='./img/product08.png', alt='')
					// /Product main img
					// Product thumb imgs
					.col-md-2.col-md-pull-5
						#product-imgs
							.product-preview
								img(src='./img/product01.png', alt='')
							.product-preview
								img(src='./img/product03.png', alt='')
							.product-preview
								img(src='./img/product06.png', alt='')
							.product-preview
								img(src='./img/product08.png', alt='')
					// /Product thumb imgs
					// Product details
					.col-md-5
						.product-details
							h2.product-name product name goes here
							div
								.product-rating
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star-o
								a.review-link(href='#') 10 Review(s) | Add your review
							div
								h3.product-price
									| $980.00 
									del.product-old-price $990.00
								span.product-available In Stock
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							.product-options
								label
									| Size
									select.input-select
										option(value='0') X
								label
									| Color
									select.input-select
										option(value='0') Red
							.add-to-cart
								.qty-label
									| Qty
									.input-number
										input(type='number')
										span.qty-up +
										span.qty-down -
								button.add-to-cart-btn
									i.fa.fa-shopping-cart
									|  add to cart
							ul.product-btns
								li
									a(href='#')
										i.fa.fa-heart-o
										|  add to wishlist
								li
									a(href='#')
										i.fa.fa-exchange
										|  add to compare
							ul.product-links
								li Category:
								li
									a(href='#') Headphones
								li
									a(href='#') Accessories
							ul.product-links
								li Share:
								li
									a(href='#')
										i.fa.fa-facebook
								li
									a(href='#')
										i.fa.fa-twitter
								li
									a(href='#')
										i.fa.fa-google-plus
								li
									a(href='#')
										i.fa.fa-envelope
					// /Product details
					// Product tab
					.col-md-12
						#product-tab
							// product tab nav
							ul.tab-nav
								li.active
									a(data-toggle='tab', href='#tab1') Description
								li
									a(data-toggle='tab', href='#tab2') Details
								li
									a(data-toggle='tab', href='#tab3') Reviews (3)
							// /product tab nav
							// product tab content
							.tab-content
								// tab1
								#tab1.tab-pane.fade.in.active
									.row
										.col-md-12
											p
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								// /tab1
								// tab2
								#tab2.tab-pane.fade.in
									.row
										.col-md-12
											p
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								// /tab2
								// tab3
								#tab3.tab-pane.fade.in
									.row
										// Rating
										.col-md-3
											#rating
												.rating-avg
													span 4.5
													.rating-stars
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
												ul.rating
													li
														.rating-stars
															i.fa.fa-star
															i.fa.fa-star
															i.fa.fa-star
															i.fa.fa-star
															i.fa.fa-star
														.rating-progress
															div(style='width: 80%;')
														span.sum 3
													li
														.rating-stars
															i.fa.fa-star
															i.fa.fa-star
															i.fa.fa-star
															i.fa.fa-star
															i.fa.fa-star-o
														.rating-progress
															div(style='width: 60%;')
														span.sum 2
													li
														.rating-stars
															i.fa.fa-star
															i.fa.fa-star
															i.fa.fa-star
															i.fa.fa-star-o
															i.fa.fa-star-o
														.rating-progress
															div
														span.sum 0
													li
														.rating-stars
															i.fa.fa-star
															i.fa.fa-star
															i.fa.fa-star-o
															i.fa.fa-star-o
															i.fa.fa-star-o
														.rating-progress
															div
														span.sum 0
													li
														.rating-stars
															i.fa.fa-star
															i.fa.fa-star-o
															i.fa.fa-star-o
															i.fa.fa-star-o
															i.fa.fa-star-o
														.rating-progress
															div
														span.sum 0
										// /Rating
										// Reviews
										.col-md-6
											#reviews
												ul.reviews
													li
														.review-heading
															h5.name John
															p.date 27 DEC 2018, 8:0 PM
															.review-rating
																i.fa.fa-star
																i.fa.fa-star
																i.fa.fa-star
																i.fa.fa-star
																i.fa.fa-star-o.empty
														.review-body
															p
																| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
													li
														.review-heading
															h5.name John
															p.date 27 DEC 2018, 8:0 PM
															.review-rating
																i.fa.fa-star
																i.fa.fa-star
																i.fa.fa-star
																i.fa.fa-star
																i.fa.fa-star-o.empty
														.review-body
															p
																| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
													li
														.review-heading
															h5.name John
															p.date 27 DEC 2018, 8:0 PM
															.review-rating
																i.fa.fa-star
																i.fa.fa-star
																i.fa.fa-star
																i.fa.fa-star
																i.fa.fa-star-o.empty
														.review-body
															p
																| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
												ul.reviews-pagination
													li.active 1
													li
														a(href='#') 2
													li
														a(href='#') 3
													li
														a(href='#') 4
													li
														a(href='#')
															i.fa.fa-angle-right
										// /Reviews
										// Review Form
										.col-md-3
											#review-form
												form.review-form
													input.input(type='text', placeholder='Your Name')
													input.input(type='email', placeholder='Your Email')
													textarea.input(placeholder='Your Review')
													.input-rating
														span Your Rating: 
														.stars
															input#star5(name='rating', value='5', type='radio')
															label(for='star5')
															input#star4(name='rating', value='4', type='radio')
															label(for='star4')
															input#star3(name='rating', value='3', type='radio')
															label(for='star3')
															input#star2(name='rating', value='2', type='radio')
															label(for='star2')
															input#star1(name='rating', value='1', type='radio')
															label(for='star1')
													button.primary-btn Submit
