header
	.container
		.row
			.header-main
				.section-logo
					img(src="img/logo.png", alt="", srcset="")
				.setion-menu
					.tog-icoin
						.icon
							i.fa.fa-bars
					.menu-content
						ul
							li
								a(href="http://") Trang Chủ
							li
								a(href="http://") Giới Thiệu
							li
								a(href="http://") Khách Hàng Doanh Nghiệp
							li
								a(href="http://") Sản Phẩm
							li
								a(href="http://") Hệ Thống của hàng
				