header
	
	.container
		.row
			.Quick_Links
				ul
					li 
						a(href="http://") My Account
					li 
						a(href="http://") My Account
					li 
						a(href="http://") My Account
					li 
						a(href="http://") My Account
				
			.header-main
				.row.w-100
					.col-sm-12.col-md-2.section-logo
						img.img-fluid(src="img/logo.png", alt="", srcset="")
					.col-sm-12.col-md-8.setion-search
						input.search_bar(type="text", name="",placeholder="Search Here...")
						a(href= 'user/',=$id)
							.btn-search
								i.fa.fa-search
						//- button(type="submit" value="submit me") submit
					.col-md-2.d-flex
						.cart
							.icon-cart
								i.fa.fa-shopping-cart
							.total
								p.title TOTAL
								p.price $600.00


