<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		include include/css
	body
		<!-- ////////////// Header ////////////// -->
		
		include header
		<!-- ////////////// End Header ////////////// -->
		<!-- ////////////// Begin Main ////////////// -->
		main
			block body
		<!-- ////////////// End Main ////////////// -->
		<!-- ////////////// Footer ////////////// -->
		include footer
		<!-- ////////////// End Footer ////////////// -->
		<!-- ////////////// Javascript Include ////////////// -->
		include include/js
	block js


