@import '_include/include.sass'
body
    div
        margin: 0
        padding: 0
        border: 0
        font-size: 100%
        font-weight: normal
        vertical-align: baseline
        background: transparent
    .home-slider
        .owl-carousel
            .item
                display: flex
                justify-content: center
                
.full-page
    overflow: hidden
    max-width: 1600px
    margin: 0 auto
    height: auto
    background-size: cover
    background: linear-gradient(80deg, rgba(233,233,233,1) 50%, rgba(130,244,211,1) 50%);
    header
       
        position: relative  
        margin-top: 20px
        z-index: 999
        .header-main
            width: 100%
            display: flex

        .section-logo
            width: 30%

        .setion-menu
            display: flex
            justify-content: flex-end
            width: 70%
            .tog-icoin
                position: relative
                background: #000000
                width: 35px
                height: 35px
                display: flex
                justify-content: center
                align-items: center
                border-radius: 50%
                cursor: pointer
                transition: all .5s
                &:hover
                    box-shadow: 0px 0px 10px 2px #00000087
                .fa-bars
                    color: #ffffff
            .menu-content
                position: absolute
                text-align: right
                top: 90px
                right: 70px
                ul
                    list-style-type: none
                    font-weight: 500
                    color: #222
                    font-family: "roboto"
                    font-weight: bold
                    line-height: 2
                    font-size: 14px
                    letter-spacing: 1px
                    li
                        height: 50px
                        a
                            transition: all .5s
                            color: #000
                            &:hover
                                padding: 0 10px 0 0    
                                text-decoration: none
                               